# Bytecode
__pycache__/
*.py[cod]

# Spark logs
.metastore_db/
derby.log

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Hadoop logs or outputs
logs/
tmp/
output/
*.log

# Parquet, CSV outputs
*.parquet
*.csv
*.tsv

# OS-specific
.DS_Store
Thumbs.db

# Docker files
*.pid
*.pid.lock

# VS Code and IDE settings
.vscode/
.idea/
.env

# Data folders
data/
clinical_db/
clinical_db_transformed/
